@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.foot1 {
  position: static;
  bottom: 150px;
  width: 100%;
  padding: 35px 1px;
  background-color: rgb(33,37,41);
  color: #fff;
  text-align: center;
  font-family: 'Geologica', sans-serif;
  font-size: 12px;
  align-items: center;
  align-content: center;
  padding-bottom: 15px;
  border-radius: 10px;
  
}
.font1{
  font-family: 'Maven Pro', sans-serif;
  font-size: 10px;
}

.font2 {
  font-family: 'Prompt', sans-serif;
  font-size: 25px;
}

.font3{
  font-family: 'Ruda', sans-serif;
}
  .h1 {
      margin: 50px;
  }
  .slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.d-inline-block-align-text-top {
  padding: 25px;
}

.slides {
    display: grid;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: slide 10s infinite;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.slide {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-100%); }
    95% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
img {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 600px) {
  .slider {
      height: 200px;
  }
}

body { background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30px;
background-size: 5000px;
background-position: center;
background-size: cover;
width: 100%;
height: auto;

}

.d-flex {
  padding: 10px;

}
.cart1
{
  padding: 10px;
}

.c-1{
  padding-top: 14px;
  font-family: 'Capriola', sans-serif;
}

.viewm-1
{
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
}
.header {
  padding-bottom: 0px;
}
.f-product
{
  padding-top: 8px;
  padding-inline-end: 0px;
}

.login_bar {
	width: 300px;
	height: 50px;
	background: white;
	border-radius: 10px;
	top: 50%;
	position: relative;
  	z-index: 1;
	overflow: hidden;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}

.login {
	background: transparent;
	position: absolute;
	height: 100%;
	width: 190px;
	padding-left: 10px;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	z-index: 10;
	-webkit-transition: transform 0.2s ease-in-out 0s;
	   -moz-transition: transform 0.2s ease-in-out 0s;
	     -o-transition: transform 0.2s ease-in-out 0s;
	        transition: transform 0.2s ease-in-out 0s;
}

.login_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.subscribe_button:hover{
	background-color: #222A33;
	cursor:pointer;
}

.subscribe_button {
	background: #171D23;
	position: absolute;
	top: -50px;
	left: 200px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 150px;
	width: 100px;
	text-align: center;
	line-height: 150px;
	vertical-align: middle;	
	color: white;
	-webkit-transition: transform 0.5s ease 0s;
	   -moz-transition: transform 0.5s ease 0s;
	     -o-transition: transform 0.5s ease 0s;
	        transition: transform 0.5s ease 0s;
}

.subscribe_button_active{
	-webkit-transform: translateY(50px);
	   -moz-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	     -o-transform: translateY(50px);
	        transform: translateY(50px);
}

.subscribing{
	background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
	height: 100%;
	width: 300px;
	z-index: 5;
	position: absolute;
	left:-300px;
	display: inline-block;
	background-position: inherit;
	-webkit-transition: transform 1s ease 0s ;
	   -moz-transition: transform 1s ease 0s ;
	     -o-transition: transform 1s ease 0s ;
	        transition: transform 1s ease 0s ;
}

.subscribing_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.thanks{
	background: transparent;
	height: 100%;
	width: 300px;
	z-index: 5;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	padding-left: 10px;
	position: absolute;
	top:50px;
	display: inline-block;
	-webkit-transition: transform 0.5s ease 0s ;
	   -moz-transition: transform 0.5s ease 0s ;
	     -o-transition: transform 0.5s ease 0s ;
	        transition: transform 0.5s ease 0s ;
}

.thanks_active {
	-webkit-transform: translateY(-50px);
	   -moz-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	     -o-transform: translateY(-50px);
	        transform: translateY(-50px);
}

.h4 {
	font-size: 10px;
}