@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;0,800;1,700&family=Ysabeau+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Raleway:wght@600;700&family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{ background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
  
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30px;
    background-size: 5000px;
    height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .container-fluid
  {
    background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30px;
    background-size: 5000px;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 5px;
    font-family: 'Maven Pro', sans-serif;
    color: aqua;

  }

  .ft11
  {
    font-size: 40px;
    font-family: 'Libre Barcode 39 Text', cursive;
    color: rgba(46, 43, 43, 0.913);
    align-content: center;
  }

  .ft12 {
  color: #0101016c; 
  font-size: 40px;
  font-family:'Share Tech Mono', monospace;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 0.1px solid rgba(2, 2, 2, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  font-family: 'Maven Pro', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.h2222 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  font-size: 25px;
  color: #010101c1;
  background-color: transparent;
  
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #0000006e;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  font-family: 'Ruda', sans-serif;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
  font-family: 'Prompt', sans-serif;

}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
  font-family: 'Prompt', sans-serif;
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #62616197;
  font-family: 'Prompt', sans-serif;
}

#remember {
  accent-color: #233dbeda;
  font-family: 'Prompt', sans-serif;
}

.forget label {
  display: flex;
  align-items: center;
  font-family: 'Prompt', sans-serif;
}

.forget label p {
  margin-left: 8px;
  font-family: 'Prompt', sans-serif;
}
.wrapper a {
  color: #00420aca;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: #00000062;
  color: #000;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  font-family: 'Prompt', sans-serif;
}

button:hover {
  color: #004d0bcb;
  border-color: #005c0ecb;
  background: rgba(255, 255, 255, 0.15);
  font-family: 'Krona One', sans-serif;
  transition-delay: 10px;
  transition-duration: 100ms;
  transform-style: preserve-3d ;
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #c91d1dcb;
  font-family: 'Prompt', sans-serif;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  align-content: center
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 60px;
  margin: 1000px;
}



















