@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Raleway:wght@600;700&family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
.container 
{
font-family: 'Unbounded', cursive;
}
.card-img-overlay {
    font-size: 110px;
font-family: 'Raleway', sans-serif;
}
.text5
{
font-family: 'Bodoni Moda', serif;
}
.text6
{
font-size: 22px;
}
.text7
{
font-size: 15px;
font-family: 'Goldman', cursive;
}
.card-img{
width: 100%;
height: auto;
max-width: auto;
max-height: auto;
}

.card-body {
font-size: 30px;
font-display: grid;
background-color: #a0d2eb;
color: azure;
}
.card{
font-size: 30px;
background-image: url("https://t4.ftcdn.net/jpg/05/00/76/75/360_F_500767502_AdezwSUsyb04l79RpV6zubKulRnIHpd0.jpg");
color: rgba(115, 179, 186, 0.167);
margin: 10px;
height: 100%;
background-position: center;
background-size: cover;
}
.font1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 10px;
    align-items: center;
    align-content: center;
  }

body { background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30px;
background-size: 5000px;
background-position: center;
background-size: cover;
width: 100%;
height: auto;
  }

